.env

# Dependency directories
node_modules/
artifacts/
cache/


#Unnecessary Scripts
scripts/deploy.js
scripts/interact.js

#Unnecessary Files
performanceMetrics.json

#ABIs
test.json
VALKToken.json
